Package: com.tommy.glowv3
Name: GlowV3
Version: 1.2.9
Architecture: iphoneos-arm
Description: Facebook ad blocker + Reels button with delay v8.2.9
Maintainer: tommy
Author: tommy
Section: Tweaks
Depends: mobilesubstrate
