Package: com.tommy.glowv3
Name: GlowV3
Version: 1.2.8
Architecture: iphoneos-arm
Description: Facebook ad blocker + lazy Reels hook v8.2.8
Maintainer: tommy
Author: tommy
Section: Tweaks
Depends: mobilesubstrate
